.noResult {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  width: 350px;
  margin: auto;
  margin-top: 50px;

  @media (max-width: 500px) {
    width: 200px;
    margin-top: 20px;
  }

  img {
    margin: auto;
    width: 100%;
  }
}
